<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="de.gymcalc.contest.print"
            name="%_UI_ContestExportCategory">
      </category>
      <wizard
            category="de.gymcalc.contest.print"
            class="de.gymcalc.print.CalcReportExportWizard"
            id="de.gymcalc.print.CalcReportExportWizard"
            name="%_UI_CalcReportExportWizard"/>
      <wizard
            category="de.gymcalc.contest.print"
            class="de.gymcalc.print.RegistrationReportExportWizard"
            id="de.gymcalc.print.RegistrationReportExportWizard"
            name="%_UI_RegistrationReportExportWizard"/>
      <wizard
            category="de.gymcalc.contest.print"
            class="de.gymcalc.print.ChainReportExportWizard"
            id="de.gymcalc.print.ChainReportExportWizard"
            name="%_UI_ChainReportExportWizard"/>
      <wizard
            category="de.gymcalc.print"
            class="de.gymcalc.print.JuryFormExportWizard"
            id="de.gymcalc.print.JuryFormExportWizard"
            name="%_UI_JuryFormExportWizard"/>
      <wizard
            category="de.gymcalc.print"
            class="de.gymcalc.print.JuryTableFormExportWizard"
            id="de.gymcalc.print.JuryTableFormExportWizard"
            name="%_UI_JuryTableFormExportWizard"/>
      <wizard
            category="de.gymcalc.print"
            class="de.gymcalc.print.RegistrationExternalExportWizard"
            id="de.gymcalc.print.RegistrationExternalExportWizard"
            name="%_UI_RegistrationExternalExportWizard">
      </wizard>
      <wizard
            category="de.gymcalc.print"
            class="de.gymcalc.print.RegistrationOrganizationReportExportWizard"
            id="de.gymcalc.print.RegistrationOrganizationReportExportWizard"
            name="%_UI_OrganizationReportExportWizard">
      </wizard>
      <wizard
            category="de.gymcalc.print"
            class="de.gymcalc.print.UrkundeExportWizard"
            id="de.gymcalc.print.UrkundeExportWizard"
            name="%_UI_UrkundeExportWizard">
      </wizard>
      <wizard
            category="de.gymcalc.print"
            class="de.gymcalc.print.JuriFormSingleExportWizard"
            id="de.gymcalc.print.JuriFormSingleExportWizard"
            name="%_UI_JuriFormSingleExportWizard">
      </wizard>
      <wizard
            category="de.gymcalc.print"
            class="de.gymcalc.print.JuriReportExportWizard"
            id="de.gymcalc.print.JuriReportExportWizard"
            name="%_UI_JuryReportExportWizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="de.gymcalc"
            class="de.gymcalc.print.preferences.TemplatePreferencesPage"
            id="de.gymcalc.print.preferences.TemplatePreferencesPage"
            name="%_UI_TemplatePreferencePageTitle">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.gymcalc.print.handler.ContestPrintHandler"
            commandId="de.spremberg.turnen.printwithtemplate.command">
         <activeWhen>
            <with
                  variable="activeEditorId">
               <or>
                  <equals
                        value="de.gymcalc.contest.presentation.ContestEditorID">
                  </equals>
                  <equals
                        value="de.gymcalc.contest.presentation.ContestRootEditorID">
                  </equals>
               </or>
            </with>
         </activeWhen>
      </handler>
   </extension>

</plugin>
