<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/index.html"
            base-name="/index.html">
      </resource>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/gymcalc"
            class="de.gymcalc.server.internal.web.GymCalcServlet"
            load-on-startup="true">
      </servlet>
   </extension>

</plugin>
