<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.cdo.ui.editorOpeners">
      <editorOpener
            class="de.gymcalc.cdo.RootEditorOpener"
            id="de.gymcalc.cdo.RootEditorOpener"
            name="GymCalc Übersicht"
            priority="500"
            regex="cdo\.checkout://.*\.gymcalc">
      </editorOpener>
   </extension>

</plugin>
